{% extends "base_page.html" %}

{% block page-title %}
Английский по карточкам
{% endblock %}

{% block page-lead %}
Проект по быстрому изучению английских слов и фраз без заучивания.<br/> Карточки выдают случайные слова с их переводом.<br/>
Изначально в словаре <b>500</b> самых распространенных английских слов, но вы можете добавлять свои!

{% endblock %}

{% block content %}
<div class="p-1 text-center bg-body-tertiary rounded-3">
    <svg class="bi mt-1 mb-3" style="color: var(--bs-indigo);" width="0" height="0"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">Начни изучение сейчас</h1>
    <div class="d-inline-flex gap-2 mb-1">
<a href="/terms-list-random" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">Перейти к карточкам →</a>

</div>
  </div>


<div class="container px-4 py-1" id="project-contents">
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 me-2">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Словарь</h3>
                <p class="fs-5">Здесь можно посмотреть в табличной форме английские слова с их русским переводом.</p>
                <a href="/terms-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 me-2">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Добавить новое слово</h3>
                <p class="fs-5">Помимо уже существующих слов в словаре, вы можете добавить свои новые слова и фразы, и они появятся в карточках.</p>
                <a href="/add-term" class="btn btn-primary">
                    Добавить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 me-2">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
<div class="col-md-5 col-lg-12 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary fs-3">Статистика</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0 fs-5">Всего слов</h6>
            </div>
            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{ terms_all }}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0 fs-5">Слов, добавленных через <a href="/add-term">форму </a></h6>
            </div>
              <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{ terms_added }}</span></li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0 fs-5">Всего пользователей</h6>
            </div>

              <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">{{ users }}</span>
          </li>
        </ul>
      </div>
            </div>
</div>
{% endblock %}
